/.venv
/code
/data
/mrna.py
/mrna_univar_0.npy
/mrna_univar_1.npy
/mrna_univar_2.npy
/mrna_univar_3.npy
/mrna_univar_4.npy
/mrna_univar_5.npy
/mrna_univar_6.npy
/nbt.2940-S1.pdf
/nbt.2940.pdf
/Screenshot 2023-06-22 185345.png
/Screenshot 2023-06-22 185427.png
/Screenshot 2023-06-22 185717.png